
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  /* margin: 0; */
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 15px;
}

img{
  max-inline-size: 100%;
  height: auto;
  /* aspect ratio yang memaksa seluruh gambar memiliki dimensi yang sama */
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background-color: red;
  width: 550px;
}

.hutan-rusa{
  background-color: antiquewhite;
}
.hutan-rusa p{
  word-break: break-word;
}
.pegunungan-bulan{
  background-color: #EBD6FB;
}
.lab-komp{
  background-color: #AEC8A4;
}

p{
  font-size: 1rem;
}
.duri{
  background-color: aquamarine;
}